// Example settings for the security and endpoints for the AWS MQTT IoT Client
#ifndef __140_ESP32_ARDUINO_MQTT_CONNECT_TO_AWS_IOT_H__
#define __140_ESP32_ARDUINO_MQTT_CONNECT_TO_AWS_IOT_H__

#define WIFI_SSID                           "your-ssid"
#define WIFI_PASSWORD                       "your-password"

#define AWS_IOT_ENDPOINT                    "<prefix>-ats.iot.<region>.amazonaws.com"
#define AWS_IOT_ENDPOINT_PORT_MQTT_SECURE   8883

#define AWS_IOT_THING_NAME                  "ESP32Example"

#define AWS_IOT_TOPIC_UPDATE_SHADOW         "$aws/things/" AWS_IOT_THING_NAME "/shadow/update"

#endif
