// Example WiFi credentials. Rename this file to remove the .example file extension
// and then change the settings so they are what's required for your WiFi connection

// Author: Brian Sidebotham <brian.sidebotham@gmail.com>

#ifndef __WIFI_CREDENTIALS_H__
#define __WIFI_CREDENTIALS_H__

#define WIFI_SSID       "your-ssid"
#define WIFI_PASSWORD   "your-password"

#endif
